<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="General Settings">
        <setting id="enable_core_cleaning" type="bool" label="Enable WebOS Core Cleaning" default="true" />
        <setting id="run_on_startup" type="bool" label="Run on startup" default="true" />
        <setting id="run_periodically" type="bool" label="Run periodically" default="true" />
        <setting id="check_interval" type="number" label="Check interval (minutes)" default="10" />
    </category>
    <category label="Notifications">
        <setting id="show_notifications" type="bool" label="Show notifications" default="true" />
        <setting id="notification_sound" type="bool" label="Notification sound" default="true" />
    </category>
</settings>